<ion-header>
  <ion-toolbar>
    <ion-title >Alterar info pet</ion-title>
     
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar> 
 </ion-header>

<ion-content>

  <ion-card>

  <ion-card-header>
    <ion-card-title>Alterar informações do pet</ion-card-title>
    <ion-card-subtitle>Altere as informações do seu pet</ion-card-subtitle>
  </ion-card-header>

  <form>

  <ion-item>
    <ion-label position="floating">Nome do Pet:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Raça:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Especie:</ion-label>
    <ion-select >
      <ion-select-option value="Cao">Cão</ion-select-option>
      <ion-select-option value="Gato">Gato</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Cor:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Sexo:</ion-label>
    <ion-select >
      <ion-select-option value="cat">Macho</ion-select-option>
      <ion-select-option value="dog">Fêmea</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Data de Nascimento:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Tutor</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Endereço:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Cidade:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Estado:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Telefone:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Celular:</ion-label>
    <ion-input></ion-input>
  </ion-item>


</form>

  <ion-button shape="round" expand="full" color="success">Salvar</ion-button>
</ion-card>

</ion-content>
