ion-card-title {
    text-align: center;

}




#button-atualizar{
padding-top: 10px;
height: 50px;
}

ion-toolbar{
--background:#66DE86;
}

ion-title {
color: floralwhite;
}

#start {
color:floralwhite;
}
