<ion-header>
  <ion-toolbar>
    <ion-title >Informações do pet</ion-title>
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/gerenciar-pets']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons >
    
  </ion-toolbar>
</ion-header>

<ion-content>

  
  
  <ion-grid>

    <ion-row>
      <ion-col>
        <div>Nome do animal:</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>Raça:</div>
      </ion-col>
      <ion-col>
        <div>Especie:</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>Cor:</div>
      </ion-col>
      <ion-col col-6>
        <div>Sexo:</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>Data Nasc</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>Tutor:</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset-4>
        <div>Endereço:</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>Cidade:</div>
      </ion-col>
      <ion-col offset-4>
        <div>Estado:</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>Telefone:</div>
      </ion-col>
      <ion-col>
        <div>Celular:</div>
      </ion-col>
    </ion-row>

    <ion-button (click)="visualizar()" expand="full" color="warning">alterar</ion-button>

  </ion-grid>

  
    
     
    
  

</ion-content>