<ion-header>
  <ion-toolbar>
    <ion-title >Informações do pet</ion-title>
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/gerenciar-pets']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons >
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="area-perfil">
    <ion-row>
      <ion-col col-3>
        
      </ion-col>
      <ion-col id="header" col-3>
        <img src="{{pet.imagem}}" />
      </ion-col>
      <ion-col col-3>
       
      </ion-col>
    </ion-row>

    <ion-row id="header">
      <h1>{{pet.nomedopet}}</h1>
    </ion-row>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Alterar foto</ion-card-title>
      <ion-card-subtitle>Clique abaixo e adiciona uma foto do seu pet</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <ion-button (click)="visualizarAddImagem()" expand="full" >alterar foto</ion-button>
    </ion-card-content>
    </ion-card>

  <ion-card>
  
  <ion-grid>

    <ion-row>
      <ion-col>
        <div> <strong>Nome do animal: </strong> {{pet.nomedopet}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div><strong>Raça: </strong>{{pet.raca}}</div>
      </ion-col>
      <ion-col>
        <div><strong>Especie: </strong>{{pet.especie}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div><strong>Cor: </strong>{{pet.cor}}</div>
      </ion-col>
      <ion-col col-6>
        <div><strong>Sexo: </strong>{{pet.sexo}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div><strong>Data Nasc </strong>{{pet.datadenasc}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div><strong>Tutor: </strong>{{pet.tutor}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset-4>
        <div><strong>Endereço: </strong>{{pet.endereco}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div><strong>Cidade: </strong>{{pet.cidade}}</div>
      </ion-col>
      <ion-col offset-4>
        <div><strong>Estado: </strong>{{pet.estado}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div><strong>Celular: </strong>{{pet.celular}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div><strong>Telefone: </strong>{{pet.telefone}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="alterar()" expand="full" color="warning">alterar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="deletar()" expand="full" color="danger">excluir</ion-button>
      </ion-col>
    </ion-row>

    

  </ion-grid>

</ion-card>

<ion-card>
<ion-card-header>
  <ion-card-title>Carteirinha de Vacinação</ion-card-title>
  <ion-card-subtitle>Gerencie aqui as vacinações do seu pet</ion-card-subtitle>
</ion-card-header>

<ion-card-content>
  <ion-button (click)="visualizarCarteirinha()" expand="full" >Ir para carteirinha</ion-button>
</ion-card-content>
</ion-card>

     
    
  

</ion-content>