<ion-header>
  <ion-toolbar>
    <ion-title >Adicionar pet</ion-title>
     
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar> 
 </ion-header>

<ion-content>

  <ion-card>

  <ion-card-header>
    <ion-card-title>Informações do pet</ion-card-title>
    <ion-card-subtitle>Insira as informações do seu pet</ion-card-subtitle>
  </ion-card-header>

  <form [formGroup]="formGroup">

    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" formControlName="nomedopet"></ion-input>
     <!-- formControlName="nome" = vinculei com o ts-->
    </ion-item>

  <ion-item>
    <ion-label position="floating">Raça:</ion-label>
    <ion-input type="text" formControlName="raca"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Especie:</ion-label>
    <ion-select formControlName="especie">
      <ion-select-option value="Cao">Cão</ion-select-option>
      <ion-select-option value="Gato">Gato</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Cor:</ion-label>
    <ion-input type="text" formControlName="cor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Sexo:</ion-label>
    <ion-select formControlName="sexo">
      <ion-select-option value="cat">Macho</ion-select-option>
      <ion-select-option value="dog">Fêmea</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Data de Nascimento:</ion-label>
    <ion-input type="text" formControlName="datadenasc"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Tutor</ion-label>
    <ion-input type="text" formControlName="tutor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Endereço:</ion-label>
    <ion-input type="text" formControlName="endereco"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Cidade:</ion-label>
    <ion-input type="text" formControlName="cidade"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Estado:</ion-label>
    <ion-input type="text" formControlName="estado"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Telefone:</ion-label>
    <ion-input type="text" formControlName="telefone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Celular:</ion-label>
    <ion-input type="text" formControlName="celular"></ion-input>
  </ion-item>




  <ion-button (click)="cadastrar()" shape="round" expand="full" color="success">Salvar</ion-button>
</form>

</ion-card>



</ion-content>
