<ion-header>
  <ion-toolbar>
    <ion-title >dicas pet</ion-title>
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/home-cliente']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons > 
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <img src="assets/imagens/saudebucal.jpg" alt="">

    <ion-card-header>
      <ion-card-title>Dicas para a Saúde Bucal</ion-card-title>
    </ion-card-header>

    <ion-card-content>

    <ul>
      <li>Inicie as escovações desde filhote</li>
      <li>Escovações 3 vezes por semana</li>
      <li>Movimentos circulares durante a escovação</li>
      <li>Usar pasta de dente específica</li>
      <li>Visitar o veterinário regularmente</li>
    </ul>
  
    </ion-card-content>
  </ion-card>

  <ion-card>

    <img src="assets/imagens/petcomendo.png" alt="">

    <ion-card-header>
      <ion-card-title> Alimentação do Pet </ion-card-title>
    </ion-card-header>

      <ul>
        <li> Use proteínas e vegetais</li>
        <li> Alimentos variados</li>
        <li> Alimentos minimamente processados </li>
        <li> Não utilze alimentos que contém: Farinhas brancas pró-inflamatórias;
          Alergênicas e transgênicas,
          Sal refinado,
          Açúcar/glicose/xarope de glicose de alto teor de frutose,
          Conservantes,
          Corantes e que não beneficiam em nada a saúde dos cães e gatos. </li>
        </ul>
  
    </ion-card>
  

</ion-content>
