<ion-header>
  <ion-toolbar>
    <ion-title >Adicinar foto</ion-title>
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-back-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons >
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card id="info">

      <ion-text>Selecione sua imagem. </ion-text>
   
     </ion-card>
  


     <ion-row>
      <img src="{{pet.imagem}}" alt="">
    </ion-row>

<ion-item>
  <input type="file" (change)="enviarArquivo($event)" />
</ion-item>

  
  </ion-card>

</ion-content>
