<ion-header>
  <ion-toolbar>
    <ion-title >Pedidos</ion-title>
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/home-cliente']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons > 
    
    
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card [routerLink]="['/ver-mais-pedidos']">
    <ion-card-header>
      <ion-card-title>Belinha</ion-card-title>
    </ion-card-header>

   

  <div class="container">
    <img class="flutuante" src="assets/icon/dog.png">
    <p><strong>Pet:</strong> Belinha</p>
    <p><strong>Serviço(s):</strong> Tosa</p>
    <p><strong>Especie:</strong> Cachorro</p>
    <p><strong>STATUS:</strong> <strong id="andamento"> EM ANDAMENTO</strong></p>
    
    
</div>

  </ion-card>

  <ion-card >
    <ion-card-header>
      <ion-card-title>Belinha</ion-card-title>
    </ion-card-header>

   

  <div class="container">
    <img class="flutuante" src="assets/icon/dog.png">
    <p><strong>Pet:</strong> Toddy</p>
    <p><strong>Serviço(s):</strong> Banho</p>
    <p><strong>Especie:</strong> Cachorro</p>
    <p><strong>STATUS:</strong> <strong id="finalizado"> EM ANDAMENTO</strong></p>
    
    
</div>

  </ion-card>


  <ion-button id="last-button" expand="block" shape="round" >Ver mais</ion-button>

</ion-content>
