<ion-header>
  <ion-toolbar>
    <ion-title >Pedidos</ion-title>
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/home-cliente']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons > 
    
    
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card [routerLink]="['/ver-mais-pedidos']">
    <ion-card-header color="primary">
      <ion-card-title>Belinha</ion-card-title>
    </ion-card-header>

    <ion-row class="no-padding mg-top-20">
      
      <ion-col size="4">
          <img class="img" src="assets/icon/dog.png">
      </ion-col>
  
      <ion-col col-3>
        <ul style="list-style: none;">
          <li><strong>Dono:</strong> Toddy</li>
          <li><strong>Serviço(s):</strong> Banho</li>
          <li><strong>Especie:</strong> Cachorro</li>
          <li id="status"><strong>STATUS:</strong> <strong id="andamento"> EM ANDAMENTO</strong></li>
        </ul>
      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card>

    <ion-card-header color="primary">
      <ion-card-title>Belinha</ion-card-title>
    </ion-card-header>

    <ion-row class="no-padding mg-top-20">
      <ion-col size="4">
       
       
          <img class="img" src="assets/icon/dog.png">
       
      </ion-col>
  
      <ion-col col-3>
        


       <ul style="list-style: none;">
        <li><strong>Dono:</strong> Toddy</li>
        <li><strong>Serviço(s):</strong> Banho</li>
        <li><strong>Especie:</strong> Cachorro</li>
        <li id="status"><strong>STATUS:</strong> <strong id="finalizado"> EM ANDAMENTO</strong></li>
      </ul>
        
      </ion-col>
    </ion-row>
  </ion-card>


  <ion-button id="last-button" expand="block" shape="round" >Ver mais</ion-button>

</ion-content>
