<ion-header>
  <ion-toolbar>
    <ion-title >Pedidos</ion-title>
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/localizar-petshops']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons > 
    
    
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card (click)="visualizar()" *ngFor="let pedido of lista">

    {{pedido.id}}

    <ion-row class="no-padding mg-top-20">
      
      <ion-col size="4">
          <img  src="assets/icon/dog.png">
      </ion-col>
  
      <ion-col col-3>
        <ul style="list-style: none;">
          <h3>{{pedido.pet}}</h3>
          <li><strong>Dono:</strong> </li>
          <li><strong>Serviço(s):</strong> {{pedido.servico}}</li>
          <li><strong>Especie:</strong> </li>
          <li id="status"><strong>STATUS:</strong> <strong id="andamento"></strong></li>
        </ul>
      </ion-col>

    </ion-row>

  </ion-card>

  <!--<ion-card [routerLink]="['/ver-mais-pedidos']">

    

    <ion-row class="no-padding mg-top-20">
      
      <ion-col size="4">
          <img  src="assets/icon/dog.png">
      </ion-col>
  
      <ion-col col-3>
        <ul style="list-style: none;">
          <h3>Belinha</h3>
          <li><strong>Dono:</strong> Toddy</li>
          <li><strong>Serviço(s):</strong> Banho</li>
          <li><strong>Especie:</strong> Cachorro</li>
          <li id="status"><strong>STATUS:</strong> <strong id="finalizado"> Finalizado</strong></li>
        </ul>
      </ion-col>

    </ion-row>

  </ion-card>-->


  <ion-button id="last-button" expand="block" shape="round" >Ver mais</ion-button>

</ion-content>
