<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes</ion-title>

    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/localizar-petshops']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons > 

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>

    <img src="assets/icon/lightpet-icon.png" alt="">
  <h1>{{petshop.nome}}</h1>

  <p><strong>Endereço:</strong> {{petshop.endereco}}</p>
  <p><strong>Cidade:</strong>  {{petshop.cidade}}</p>
  <p><strong>Bairro:</strong> {{petshop.bairro}}</p>
  <p><strong>Telefone:</strong> {{petshop.telefone}}</p>
  <p><strong>CNPJ:</strong> {{petshop.cnpj}} </p>
 
  
  
    
   

  


  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tabela de preços</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-grid>

        <ion-row>
          <ion-col col-6>
            <div>{{petshop.servico1}}</div>
          </ion-col>
          <ion-col col-6>
            <div>{{petshop.preco1}}</div>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col col-6>
            <div>{{petshop.servico2}}</div>
          </ion-col>
          <ion-col col-6>
            <div>{{petshop.preco2}}</div>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col col-6>
            <div>{{petshop.servico3}}</div>
          </ion-col>
          <ion-col col-6>
            <div>{{petshop.preco3}}</div>
          </ion-col>
        </ion-row>
    
      
    
      </ion-grid>
    

    </ion-card-content>
  </ion-card>

  <ion-button shape="round" expand="full" (click)="agendar(idpetshop)">Agendar</ion-button>


</ion-content>
