<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Atualizar cadastro</ion-title>
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/perfil']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons >
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card id="info">

      <ion-text>Preencha os campos abaixo para atualizar seu cadastro. </ion-text>
   
     </ion-card>

  <form [formGroup]="formGroup">
    <h2>Informações Pessoais</h2>
     
    <ion-grid >
      <ion-row >
        <ion-col col-12>
          
          <ion-item >
            <ion-label position="floating" >Nome completo</ion-label>
            <ion-input type="text" formControlName="nome"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row >
        <ion-col col-12>
         
          <ion-item>
            <ion-label position="floating" >CPF</ion-label>
            <ion-input  type="text" formControlName="cpf"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <h2>Informações de Contato</h2>

      <ion-row >
        <ion-col col-12>
         
          <ion-item >
            <ion-label position="floating" >Telefone</ion-label>
            <ion-input type="number" formControlName="telefone"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <h2>Informações de Localização</h2>

      

      <ion-row >
        <ion-col col-12>
         
          
          <ion-item >
            <ion-label position="floating" >Cidade</ion-label>
            <ion-input type="text" formControlName="cidade"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col col-12>
         
          <ion-item >
            <ion-label position="floating" >Bairro</ion-label>
            <ion-input  type="text" formControlName="bairro"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row >
        <ion-col col-12>
          
          <ion-item >
            <ion-label position="floating" >Endereço</ion-label>
            <ion-input type="text" formControlName="endereco"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col col-12>
          
          <ion-item >
            <ion-label position="floating" >N° da casa</ion-label>
            <ion-input type="text" formControlName="ncasa"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col col-12>
          
          <ion-item >
            <ion-label position="floating" >Complemento</ion-label>
            <ion-input type="text" formControlName="complemento"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      
  
      <ion-row >
        <ion-col col-12>
         
          <ion-item >
            <ion-label position="floating" >CEP</ion-label>
            <ion-input type="number" formControlName="cep"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
    </ion-grid>
  
        <ion-button (click)="atualizar()" id="button-atualizar" expand="block" shape="round">
          Atualizar
        </ion-button>
        
       </form>

       </ion-card>

</ion-content>
