<ion-header>
  <ion-toolbar>
    <ion-title >Alterar vacina</ion-title>
     
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar> 
      
      
    
    
  
</ion-header>

<ion-content>

  <h1>Alterar vacina</h1>

  <ion-grid>

      <ion-row>
        
        <ion-col>
          <div><strong>Medicamento:</strong></div>
        </ion-col>
       
        
      </ion-row>
  
      <ion-row>
        
        <ion-col>
          <div id="info"><ion-input type="text" placeholder="anti-rábica" ></ion-input> </div>
        </ion-col>
        
        
      </ion-row>
     
        <ion-row>
          <ion-col>
            <div><strong>Data: </strong></div>
          </ion-col>
          
          
        </ion-row>
    
        <ion-row>

          
          <ion-col >
            <div id="info"><ion-input type="date" ></ion-input> </div>
          </ion-col>
          
        </ion-row>

        <ion-row>
          
          <ion-col>
            <div><strong>Proxima dose:</strong></div>
          </ion-col>
          
        </ion-row>

        <ion-row>

          
          <ion-col >
            <div id="info"><ion-input type="date" ></ion-input> </div>
          </ion-col>
          
        </ion-row>

        <ion-button expand="full" color="warning">alterar</ion-button>
        

    
  </ion-grid>

  


</ion-content>
