ion-toolbar{
    --background:#66DE86;
}

ion-title {
    color: floralwhite;
}

#start {
    color:floralwhite;
}

ion-menu-button{
    color:floralwhite;
}

ion-card-title {
    text-align: center;
}

#titulo {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    padding-bottom: 10px;
}

img {
    display: block;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 20%;//alterar dps
    margin-bottom:20%;
    
   
   height: 100px;
   width: 100px;
    
}



ion-searchbar {
    --box-shadow: none;
    --border-radius: 12px;
    //margin-right: 10px;
  }

ul {
    padding-inline-start: 0px;
}

  li {
      margin-bottom: 10px;
      
  }

  h3 {
      color: #000000;
  }

 
ion-col{
    padding:0;
    ion-button{
        display: block;
    margin-left: auto;
    margin-right: 7px; 
    }
}

