ion-card-title {
    text-align: center;
}

#titulo {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    padding-bottom: 10px;
}

img {
   margin: 3px;
    
}

ion-toolbar{
    --background:#66DE86;
}

ion-title {
    color: floralwhite;
}

#start {
    color:floralwhite;
}

ion-button {
    padding-top: 2%;
}

ion-searchbar {
    --box-shadow: none;
    --border-radius: 12px;
  }

  li {
      margin-bottom: 10px;
  }