<ion-header>
  <ion-toolbar>
    <ion-title >Localizar Petshops</ion-title>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    
  </ion-toolbar>
  <ion-toolbar>
    <ion-row>
      <ion-col size="8">
         <ion-searchbar placeholder="Pesquisar" #nome></ion-searchbar>
      </ion-col>
      <ion-col size="4">
        <ion-button  id="botao-buscar" (click)="pesquisar()">buscar</ion-button>
      </ion-col>
    </ion-row>
    
    
  </ion-toolbar>
</ion-header>

<ion-content>
 
    

    <ion-card *ngFor="let petshop of lista">
      
      <ion-row class="no-padding mg-top-20">
       
        <ion-col size="4">
            <img class="img" src="{{petshop.imagem}}">  
        </ion-col>
    
        <ion-col col-3>        
          
         <ul style="list-style: none;">
          <h3>{{petshop.nome}}</h3>
          <li><ion-icon name="location-outline"></ion-icon>{{petshop.endereco}}</li>
          <li><ion-icon name="business-outline"></ion-icon>{{petshop.bairro}}</li>
          <li><ion-icon name="call-outline"></ion-icon>{{petshop.telefone}}</li>     
        </ul>
      </ion-col>

    </ion-row>

        <ion-row>
        <ion-col col-6>
          <ion-button expand="full" (click)="visualizar2(petshop)" [routerLink]="['/agendar-pedido']" >Agendar</ion-button>
        </ion-col>

        <ion-col col-6>
          <ion-button  expand="full" (click)="visualizar(petshop)" color="warning">Ver mais</ion-button>
        </ion-col>
      </ion-row>  

        
      
    </ion-card>


  
    

</ion-content>
