<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes</ion-title>

    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/pedidos']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons > 

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>
  <ion-card-title>Serviço</ion-card-title>
  </ion-card-header>

  <img src="assets/icon/dog.png" alt="">

  <p><strong>Nome do Petshop: </strong>Estrela Petshop </p>
  <p><strong>Nome do Pet:</strong> Belinha </p>
  <p><strong>Especie:</strong> Cachorro </p>
  <p><strong>Serviço(s): </strong> tosa</p>
  <p><strong>Telefone do Petshop:</strong> 21 91234-2134 </p>
  <p><strong>Endereço do Petshop:</strong> Rua Coronel Silva </p>
  <p><strong>Valor:</strong> R$50,00</p>

  <p id="p-status"><STRONG>STATUS:</STRONG> <strong id="andamento"> EM ANDAMENTO</strong></p>

  </ion-card>

</ion-content>
