<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes</ion-title>

    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/pedidos']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons > 

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>

    
    <img src="{{pet.imagem}}" alt="">
  

  <p><strong>Nome do Petshop: </strong>{{petshop.nome}} </p>
  <p><strong>Nome do Pet:</strong> {{pet.nomedopet}} </p>
  <p><strong>Especie:</strong> {{pet.especie}} </p>
  <p><strong>Serviço(s): </strong> {{pedido.servico}}</p>
  <p><strong>Telefone do Petshop:</strong> {{petshop.telefone}} </p>
  <p><strong>Endereço do Petshop:</strong> {{petshop.endereco}} </p>
 

  <p id="p-status"><STRONG>STATUS:</STRONG> {{pedido.status}}</p>

  </ion-card>

</ion-content>
