<ion-header>
  <ion-toolbar>
    <ion-title >Agendamento</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons > 
    
    
  </ion-toolbar>
</ion-header>

<ion-content>
  
    
   
 
    <ion-card-header>
      <ion-card-title id="titulo">Lista de Petshops</ion-card-title>
      
    </ion-card-header>

    
    <ion-card>
      <ion-card-header>
          <ion-card-title>Petshop</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <img src="assets/icon/lightpet-icon.png" style="width: 120px; padding-bottom: 5%;">

        

        <p><strong>Nome:</strong> Estrela Petshop</p>
        <p><strong>Endereço:</strong> Rua das flores n° 1750</p>
        <p><strong>Valores:</strong> banho R$50,00 , tosa R$60,00 , banho e tosa R$90,00</p>
        
        <ion-button style="padding-top: 2%;">Agendar</ion-button>
        <ion-button id="botao-vermais" style="padding-top: 2%;" color="warning">Ver mais</ion-button>
      </ion-card-content>
    
      
    </ion-card>
  
    <!--  
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input placeholder="Nome do pet" type="text"></ion-input>
      formControlName="nome" = vinculei com o ts
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Tipo</ion-label>
      <ion-input placeholder="Cão ou gato" type="text"></ion-input>
      formControlName="nome" = vinculei com o ts
    </ion-item>

    <ion-item>
      <ion-label position="floating">Porte</ion-label>
      <ion-input placeholder="Pequeno, médio ou grande" type="text"></ion-input>
      formControlName="nome" = vinculei com o ts
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tipo do Serviço</ion-label>
      <ion-input placeholder="Banho, Tosa ou Banho e Tosa" type="text"></ion-input>
      formControlName="nome" = vinculei com o ts
    </ion-item>

    <ion-item>
      <ion-label position="floating">Sexo</ion-label>
      <ion-input placeholder="Macho ou Fêmea" type="text"></ion-input>
      formControlName="nome" = vinculei com o ts
    </ion-item>

    <br>

    <ion-button  expand="block">Agendar</ion-button>
    -->
    
</ion-content>
