ion-card-title {
    text-align: center;
}

#titulo {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    padding-bottom: 10px;
}

img {
    margin-left: auto;
    margin-right: auto;
    display:block;
}

