<ion-header>
  <ion-toolbar>
    <ion-title >Vacinas</ion-title>
    
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Informações sobre vacinas</h1>

  <ion-card  *ngFor=" let vacina of lista ">

    {{vacina.id}}
  <ion-grid >

      <ion-row>
        
        <ion-col>
          <div><strong>Medicamento:</strong></div>
        </ion-col>
       
        
      </ion-row>
  
      <ion-row>
        <ion-col>
          <div id="info"><ion-input  >{{vacina.medicamento}}</ion-input> </div>
        </ion-col>
        
        
        
      </ion-row>
     
        <ion-row>
          <ion-col>
            <div><strong>Proxima dose: </strong></div>
          </ion-col>
          <ion-col>
            <div><strong>Data </strong></div>
          </ion-col>
          
        </ion-row>
    
        <ion-row>

          <ion-col>
          <div id="info"><ion-input >{{vacina.proximadose}}</ion-input> </div>
        </ion-col>
        <ion-col>
          <div id="info"><ion-input  >{{vacina.data}}</ion-input> </div>
        </ion-col>
          
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <ion-button (click)="excluir(vacina)"  expand="full" color="danger">excluir</ion-button>
          </ion-col>

          <ion-col col-6>
            <ion-button (click)="visualizar(vacina)" expand="full" color="warning">Alterar</ion-button>
          </ion-col>
        </ion-row>

  </ion-grid>

</ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="adicionar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
