<ion-header>
  <ion-toolbar>
    <ion-title >Gerenciar Pets</ion-title>
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/localizar-petshops']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons >
    
  </ion-toolbar>
</ion-header>

<ion-content>

 

  <ion-list>

  <ion-card (click)="visualizar(pet)"  *ngFor="let pet of lista">

    

    <ion-row class="no-padding mg-top-20" >

      <ion-col size="4">
        <img class="img" src="assets/icon/dog.png">
    </ion-col>
      
      <ion-col col-3>
       <ul style="list-style: none;">
        <h3>{{pet.nomedopet}}</h3>
        <li><ion-icon name="location"></ion-icon>{{pet.endereco}}</li>
        <li><ion-icon name="call"></ion-icon>{{pet.telefone}}</li>     
        <li><ion-icon name="paw"></ion-icon>{{pet.especie}} </li>     
      </ul>
        
      </ion-col>
    </ion-row>
  </ion-card>

</ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-info-pet']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>  

  

</ion-content>