<ion-header>
  <ion-toolbar>
    <ion-title >Adicionar vacina</ion-title>
     
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-back-button></ion-back-button>
    </ion-buttons > 
  </ion-toolbar> 
      
      
    
    
  
</ion-header>

<ion-content>

 

  <h1>Informações sobre a vacina</h1>

  <form [formGroup]="formGroup">

  <ion-grid>

      <ion-row>
        
        <ion-col>
          <div><strong>Medicamento:</strong></div>
        </ion-col>
       
        
      </ion-row>
  
      <ion-row>
        
        <ion-col>
          <div id="info"><ion-input  type="text" placeholder="anti-rábica" formControlName="medicamento"></ion-input> </div>
        </ion-col>
        
        
      </ion-row>
     
        <ion-row>
          <ion-col>
            <div><strong>Data: </strong></div>
          </ion-col>
          
          
        </ion-row>
    
        <ion-row>

          
          <ion-col >
            <div id="info"><ion-input type="date" formControlName="data"></ion-input> </div>
          </ion-col>
          
        </ion-row>

        <ion-row>
          
          <ion-col>
            <div><strong>Proxima dose:</strong></div>
          </ion-col>
          
        </ion-row>

        <ion-row>

          
          <ion-col >
            <div id="info"><ion-input  type="date" formControlName="proximadose"></ion-input> </div>
          </ion-col>
          
        </ion-row>

        <ion-button (click)="cadastrar()" expand="full" color="success">salvar</ion-button>
        

    
  </ion-grid>

</form>


</ion-content>
