ion-toolbar{
    --background:#66DE86;
    }
    
    ion-title {
    color: floralwhite;
    }
    
    #start {
    color:floralwhite;
    }
    
    ion-card {
        margin-top: 15px;
        margin-bottom: 15px;
    }