<ion-header>
  <ion-toolbar>
    <ion-title>Agendamento de serviço</ion-title>

    <ion-buttons slot="start" style="color:floralwhite">
      <ion-back-button >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons > 

  </ion-toolbar>
  
</ion-header>

<ion-content>

  <img src="assets/icon/lightpet-icon.png" alt="">
  <h1>Estrela Petshop</h1>
  <p>Rua das flores n°1785</p>

  <ion-card>
    <ion-card-header>
    
      <ion-card-subtitle>Informe as informações
        necessarias para poder efetuar o serviço.
         Qual serviço, o pet e a data do serviço.
      </ion-card-subtitle>
  
  </ion-card-header>
  

</ion-card>

<form [formGroup]="formGroup">
 

    

    <ion-item>
      <ion-label>Serviço</ion-label>
      <ion-select formControlName="servico">
        <ion-select-option value="banho">{{petshop.preco1}}</ion-select-option>
        <ion-select-option value="tosa">Tosa</ion-select-option>
        <ion-select-option value="banho e tosa">Banho e Tosa</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
          <ion-label>Pet</ion-label>
          <ion-select formControlName="pet" *ngFor="let pet of listaPet">
            <ion-select-option value="{{pet.id}}">{{pet.nomedopet}}{{pet.id}}</ion-select-option>
            
          </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Data</ion-label>
      <ion-input type="date" formControlName="data_sugerido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Horario</ion-label>
      <ion-input type="time" formControlName="horario_sugerido"></ion-input>
    </ion-item>


    <br>

    <ion-button (click)="cadastrar()" expand="block">Agendar</ion-button>
   
  </form>

</ion-content>
