<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Adicionar Logo</ion-title>
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/perfil']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons >
  </ion-toolbar>
</ion-header>

<ion-content>

 
  
  <ion-content>
  <ion-card>
    <ion-card id="info">

      <ion-text>Selecione sua imagem. </ion-text>
   
     </ion-card>
  


  <ion-row>
  <img src="assets/icon/icon-user.png" alt="">
</ion-row>

  <ion-row>
    <ion-col col-12>
      <ion-button shape="round" expand="full" color="warning">Adicionar</ion-button>
    </ion-col>
  </ion-row>
  </ion-card>


  <img src="{{imagem}}" width="100%" />

  <ion-item>
    <input type="file" (change)="enviarArquivo($event)" />
  </ion-item>


</ion-content>
